.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
.vscode/
*.log
*.bin
*.elf
build/
c5_node/_build.bat
c5_node/_install.bat
c5_node/_monitor.ps1
c5_node/sdkconfig
c5_node/sdkconfig.old
c5_node/managed_components/
c5_node/dependencies.lock
meshtastic_research/
